* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  body {
    background-color: var(--primary--color);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  /*dark theme bright theme*/
 :root{
    --primary--color:rgb(192, 247, 255);
    --secondary--color: aliceblue;
    --third--color:black;
  }
  .darktheme{
    --primary--color:rgb(0, 0, 0);
    --secondary--color: rgba(0, 0, 0, 0.815);
    --third--color:rgb(255, 255, 255);
  }


  /* navigation bar*/
  nav {
    display: flex;
    width: 100%;
    background-color: rgb(41, 24, 227);
  }
  ul {
    display: flex;
    list-style-type: none;
    margin-left: 400px;
    align-items: center;
  }
  ul li {
    margin-right: 100px;
  }
  span {
    margin-left: 70px;
    margin-top: 50px;
  }
  a {
    text-decoration: none;
    color: var(--secondary--color);
  }


  /*below nav*/
  .container {
    display: flex;
    align-items: center;
  }
  h1,
  h4 {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    color: var(--third--color);
  }
  p {
    text-align: justify;
    font-family: 'Dancing Script', cursive;
    padding: 50px;
    font-size: 30px;
    color: var(--third--color);
  }
 